@model AlloyTraining.Models.ViewModels.FooterModel

<div class="row">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <h3>@Html.Translate("/footer/products")</h3>
            <ul class="nav nav-pills">
                @foreach (var item in Model.productPages)
                {
                    <li>@Html.PageLink(item)</li>
                }
                <li class="nav nav-pills pull-right">
                    @if (Model.loggedIn)
                    {
                        @Html.ActionLink(Html.Translate("/footer/logout"), "Logout");
                        }
                        else
                        {
                        <a href="@Model.loginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>