@using EPiServer.Core
@using AlloyTraining.Helpers

<div class="alloyMenu">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="@(Model.CurrentPage.ContentLink.CompareToIgnoreWorkID(ContentReference.StartPage) ? "active" : null)">
                            @Html.PageLink(ContentReference.StartPage)
                        </li>
                        @Html.MenuList(ContentReference.StartPage, @<li class="@(item.Selected ? "active" : null)">@Html.PageLink(item.Page)</li>)
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>