@using EPiServer.Core
@model AlloyTraining.Models.Pages.SitePageData
@{Layout = null}

<div class="border span8">
    @if (Model.HasTemplate())
    {
        <a href="@Url.PageUrl(Model.LinkURL)">
            <div class="media">
                <div class="mediaImg">
                    <img src="@Url.ContentUrl(Model.PageImage)" />
                </div>
                <h2>@Model.Name</h2>
                <p>@Html.PropertyFor(x => x.TeaserText)</p>
            </div>
        </a>
    }
    else
    {
        <div class="media">
            <div class="mediaImg">
                <img src="@Url.ContentUrl(Model.PageImage)" />
            </div>
            <h2>@Model.Name</h2>
            <p>@Html.PropertyFor(x => x.TeaserText)</p>
        </div>
    }
</div>